h1{
    font-size: 30px;
}

#otp{
    margin: 10px 0;
    font-size: 13px;
}
.have_Acc{
    display: flex;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}

.have_Acc a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(26, 88, 182);
    font-size: 16px;
}
.have_Acc a:hover{
    color: rgb(3, 70, 171);
}