.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}
.flex{
    display: flex;
    align-items: center;
}
.card-head{
    font-size: 30px;
    color: white;
}
.blur-image {
    background-color: rgba(0, 0, 0, 0.5);
}
.blur-image-2{
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 1s ease-in;
}
.blur-image-2:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
.blur-image-3 {
    background-color: rgba(0, 0, 0, 0.6);
}

.alert {
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 0.5s;
  margin-block: 10px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert.show {
  opacity: 1;
}

.alert.hide {
  opacity: 0;
  display: none;
}

.is-invalid {
  border: 1px solid #dc3545; /* Red border color for invalid input */
  background-color: #f8d7da; /* Red background color for invalid input */
  color: #dc3545; /* Red text color for invalid input */
  border-radius: .25rem; /* Rounded border corners for input */
  padding: .375rem .75rem; /* Padding to space the text properly */
}
.invalid-feedback {
  color: #dc3545; /* Text color for error messages */
  display: block; /* Display error messages as block elements */
  font-size: 80%; /* Adjust the font size as needed */
  margin-top: .25rem; /* Add some top margin for spacing */
}
